@import "./variables";

.cardContainer {
    background-size: cover;
    display: block;
    height: $heightOfCard;
    left: 5px;
    position: absolute;
    top: 80px;
    width: $widthOfCard;
    &:hover {
        cursor: pointer;
    }
}

//q: how does box-shadow work?
//a: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp







