body {
    background-image: url(../images/background/city-light.png);
    background-position-y: -300px;
    background-attachment: fixed;
    background-size: 1900px;
}


@media screen and (min-width: 1900px) {
    body {
        background-size: 100%;
    }
}

@media screen and (min-height: 950px) {
    body {
        background-size: 2600px;
    }
}