@import 
"./cards/cards",
"./_variables",
"./searchBar",
"./notePad",
"./notePad";

a {
    color: yellow;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-attachment: fixed;
    background-image: url(../images/background/city-light.png);
    background-position-y: -300px;
    background-size: 1900px;
    color: white;
    height: 100vh;
    margin: 0;
    position: relative;
    
}

header {
    position: relative;
}

main {
    display: inline-block;
    position: relative;

}

.navbar {
    display: flex;
    align-items: center;
    &__item {
        padding: 10px;
    }
    border: 1px solid white;
    position: fixed;
    width: 100%;
}

.btn {
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
    border: none;
    color: inherit;
}

button[data-refresh-stats] {
    margin-left: 400px;
}



.blue-water {
    color: dodgerblue;
}
.brown-earth {
    color: brown;
}
.red-fire {
    color: red;
}
.yellow-air {
    color: yellow;
}

.navBtn {
    font-size: 2rem;
    padding: 10px;
    &:hover {
        background-color: rgba(0,0,0,1);
        cursor: pointer;
    }
}

.resetBtn {
    font-size: 1.5rem;
    padding: 10px;
    transition: background-color ease-in-out 100ms;
    margin-left: auto;
    &:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }
}

@media screen and (min-width: 1900px) {
    body {
        background-size: 100%;
    }
}

