a {
    text-decoration: none;
}

body {
    background-color: black;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
}



.card-container {
    background-color: rgba(255, 255, 255, 0.317);
    width: 90vw;
    height: 90vh;
    display: flex;

    .image-container {
        background-color: dodgerblue;
        display: flex;
        justify-content: center;
        .tarot-image {
            height: 500px;
        }
    }
    .info-container {
        background-color: orange;
        margin: 30px;
        padding: 30px;
    }
}

.form-container {
    button {
        height: 50px;
        margin: 50px;
        border-radius: 20px;
        transition: background-color 100ms ease-in-out;
        &:hover {
            cursor: pointer;
            background-color: grey;
        }

    }
}

