<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--StyleSheet only to work on CSS-->
    <!-- <link rel="stylesheet" href="../../public/css/styles.css"> -->
    
    
    <!--My own StyleSheet-->
    <link rel="stylesheet" href="css/styles.css">
    <title>Tarot</title>
</head>
<body>
    
    <!--Navigation Menu-->
    <nav class="navbar">
        <button class="btn navBtn" data-generate-cards>Generate cards</button>
        <span class="navbar__item red-fire" data-fire-perc>Fire: </span>
        <span class="navbar__item blue-water" data-water-perc>Water: </span>
        <span class="navbar__item yellow-air" data-air-perc>Air: </span>
        <span class="navbar__item brown-earth" data-earth-perc>Earth: </span>
        <button class="btn navBtn" data-refresh-stats>Refresh Stats</button>
        <button class="btn resetBtn" data-reset-btn>Reset</button>
    </nav>
    
    
    <main data-main-container>
       
    </main>
    <div class="notePad">
        <button class="notePad__btn">btn1btn2btn2</button>
        <button class="notePad__btn">btn2btn2btn2</button>
        <textarea class="notePad__textarea">hello</textarea>
            
    </div>
    <script src="./javascript/index.js"></script>
    <script src="./javascript/controllers/cardMover.js"></script>
    <script src="./javascript/controllers/resetBtn.js"></script>
    <script src="./javascript/controllers/generateCards.js"></script>
    <script src="./javascript/controllers/cardDoubleClicker.js"></script>
    <script src="./javascript/views/cardStats.js"></script>
    <script src="./javascript/helpers/percentageCalculator.js"></script>
</body>
</html>